main {
  height: 100%;
}

.mainWrapper {
  height: calc(100% - 128px);
  display: flex;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
